*, *::before, *::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Hiragino Sans', 'Hiragino Kaku Gothic ProN', 'Yu Gothic UI',
    'Yu Gothic', 'Meiryo', 'Noto Sans JP', sans-serif;
  -webkit-font-smoothing: antialiased;
}

textarea,
button {
  font-family: inherit;
}
